<nav class="navbar navbar-default navbar-fixed-bottom" id="NavBottom">
	<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="mailto:fin.antonio@gmail.com?Subject=Support">Support of the developer <span class="glyphicon glyphicon-envelope"></span>&nbsp</a></li>
		</ul>
	</div>
</nav> 
