<div id="sample"  class="container" style="position:relative;top:30px">
	<h3>
		Computer Programming Basic
	</h3>
	<h4>
		Exercise 5
	</h4>
	<p>
		Create a Client-Server REST application to handle a Kanban board: a work and workflow visualization used to communicate the status and progress of work items		
	</p> 
	<h4>
		User Manual
	</h4>	
	<p>
		Press "+" buton to create new tasks<br> 
		Draga and Drop the tasks to the right columns<br>
		Click on the color of a note to cycle through colors<br>
	</p> 
</div>
